html {

}

body{
font-family: 'PT Sans', sans-serif;
font-weight: bold;
background:#333;
}

p{
    line-height: 1.2em;

}

div{
    width:21.4%;
    float:left;
    padding:.8%;
    font-size: 18pt;
    border:1px solid;
    margin:.5%;
}

.emote{
    background:#fef;
}

.memes{

    background:#5ae;
    text-align:center;
}

.sound{

    margin:.5%;
    background:#ea5;

}